html
	head
		title Pokitdok API Test
		link(rel='stylesheet', href="bower_components/pure/pure.css")
		link(rel='stylesheet', href="/styles/main.css")

	body
		div(id="wrapper", class="content")
			block content
